<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

    <key>items</key>

    <array>

		<dict>

			<key>assets</key>

			<array>

				<dict>

					<key>kind</key>

					<string>software-package</string>

					<key>url</key>

					<string>http://222.240.211.26:7508/dls/download/tools/aischool.ipa</string>

				</dict>

			</array>

			<key>metadata</key>

			<dict>

				<key>bundle-identifier</key>

				<string>cn.com.twsm.aischool</string>

				<key>bundle-version</key>

				<string>6.1.7</string>

				<key>kind</key>

				<string>software</string>

				<key>subtitle</key>

				<string>正式版</string>

				<key>title</key>

				<string>AiSchool客户端</string>

			</dict>

		</dict>

	</array>

</dict>

</plist>
